html, body {
	height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#fixed-banner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#mobile-banner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 0;
}

#desktop-banner {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 0;
}

#name-and-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  line-height: 95%;
}

h2 {
  font-size: 1.5em;
  margin: 15px 0 0 0;
  /*line-height: 95%;*/
}

#work {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: -145;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  text-align: center;
}

#work img {
  width: 30%;
  margin: 10px 0 0 0;
}

h3 {
  font-size: 1.25em;
  margin: 10px 0 0 0;
}

#work-list {
  min-width: 100%;
  min-height: 50%;
  background-color: rgba(0, 150, 100, 1);
  z-index: 2;
  font-size: 0;
}

nav {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 25, 0.5);
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 9px 10px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

.project {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.project img {
  height: 100%;
  width: 100%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .project {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .project {
    width: 50%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .project {
    width: 25%;
  }

  #subtitle-break {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .project {
    width: 20%;
  }

  #subtitle-break {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #subtitle-break {
    display: none;
  }
}

footer {
  text-align: center;
  background-color: rgba(0, 150, 100, 1);
  padding: 50px;
}

footer img {
  width: 75px;
}
