body, html {
	height: 100%;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#container video {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 0;
}

#container div {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 80%;
  height: 40%;
  margin: 0 auto;
}

h1 {
	// position: absolute;
	// top: 50%;
	color: white;
	// margin: auto;
}