html, body {
	height: 100%;
  margin: 0;
}

#top-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#arrow {
  position: fixed;
  top: 15.625;
  right: 59;
  z-index: 2;
}

#arrow img {
  width: 12px;
  height: 18.75px;
}

#fixed-banner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#media-banner {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 0;
}

#name-and-title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
}

#name {
  font-size: 3.4em;
  margin: 0;
  line-height: 95%;
  font-weight: bold;
}

#title {
  font-size: 1.5em;
  margin: 15px 0 0 0;
}

#work {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: -145;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1;
  text-align: center;
}

#work img {
  width: 37.5px;
  height: 24px;
  margin: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: white;
}

#bottom-container {
  background-color: rgba(70, 75, 70, .75);
  z-index: 1;
  padding: 2px 2px 0 2px;
}

.project {
  float: left;
  background-color: rgb(70, 75, 70);
  margin: 2px;
  padding: 8px;
}

.project h3 {
  font-size: 1.5em;
  color: white;
  margin: 2px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
}

.project p {
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.75em;
  margin: 8px 2px 2px 2px;
}

.project .project-tags {
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.75em;
  margin: 8px 0;
}

.project .project-tags span {
  background-color: rgb(100, 100, 70);;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 2px;
  display: inline-block;
}

@media only screen and (min-width : 320px) {
  
}

@media only screen and (min-width : 480px) {
  
}

@media only screen and (min-width : 768px) {
  .title-break {
    display: none;
  }

  #arrow {
    display: none;
  }
}

@media only screen and (min-width : 992px) {
  
}

@media only screen and (min-width : 1200px) {
  
}

footer {
  text-align: center;
  padding: 25px;
  clear: both;
  margin: 2px 0 0 0;
}

ul {
  margin-bottom: 6.25px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 50px;
}

.social-icon {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
}

.social-icon a img {
  width: 42px;
  height: 42px;
}

#copyright {
  display: inline-block;
  margin: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  font-size: 0.75em;
  color: white;
  margin-top: 6.25px;
}
