@media only screen and (min-width : 320px) {
  /*************************
  GENERAL
  *************************/
  html, body {
    height: 100%;
    background-color: rgb(230, 230, 230);
  }

  section {
    margin: 16px;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    padding: 12px;
  }

  .section-heading {
    color: #212121;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .section-title {
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  /*************************
  WELCOME
  *************************/
  #welcome {
    height: 100%;
    position: relative;
    background-color: #212121;
  }

  #name-and-title {
    display: inline-block;
  }

  #name {
    color: #FAFAFA;
    margin-bottom: 8px;
  }

  #title {
    color: #FAFAFA;
  }

  #welcome-copy {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FAFAFA;
    width: 200px;
  }

  #welcome-copy h1 {
    font-size: 34px;
    line-height: 125%;
  }

  #welcome-copy h2 {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    line-height: 115%;
  }

  #arrow {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
  }

  /*************************
  SERVICES
  *************************/
  #services {
    text-align: center;
    overflow: hidden;
  }

  #services h1 {
    text-align: left;
  }

  .service {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
  }

  .service:last-child {
    margin-bottom: 0;
  }

  .service p {
    text-align: left;
    font-size: 14px;
  }

  /*************************
  CLIENTS
  *************************/
  #clients {
    overflow: hidden;
  }

  .client {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .client img {
    width: 100%;
  }

  /*************************
  WORK
  *************************/
  #work {
    text-align: center;
    overflow: hidden;
  }

  #work h1 {
    text-align: left;
  }

  .work {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  .work:last-child {
    margin-bottom: 0;
  }

  .work img {
    width: 100%;
    margin-bottom: 12px;
  }

  .work h2 {
    color: #212121;
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    text-align: left;
  }

  .work p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 12px;
  }

  .work-tags {
    font-size: 12px;
    text-align: left;
  }

  .work-tags span {
    background-color: #FFFDE7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2px 4px;
    border-radius: 3px;
    margin: 2px;
    display: inline-block;
  }

  /*************************
  CONTACT
  *************************/
  #contact {
    
  }

  ul {
    margin-bottom: 12px;
    text-align: center;
  }

  .social-icon {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
  }

  .social-icon:first-child {
    margin-left: 0;
  }

  .social-icon:last-child {
    margin-right: 0;
  }

  .social-icon a img {
    width: 42px;
    height: 42px;
  }

  #copyright {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #212121;
  }
}

@media only screen and (min-width : 480px) {
  /*************************
  GENERAL
  *************************/
  

  /*************************
  WELCOME
  *************************/
  #welcome-copy {
    width: 400px;
  }

  /*************************
  SERVICES
  *************************/


  /*************************
  CLIENTS
  *************************/
  .client {
    width: 33.33%;
    float: left;
  }

  /*************************
  WORK
  *************************/


  /*************************
  CONTACT
  *************************/

}

@media only screen and (min-width : 768px) {
  /*************************
  GENERAL
  *************************/


  /*************************
  WELCOME
  *************************/
  #welcome-copy {
    width: 600px;
  }

  /*************************
  SERVICES
  *************************/
  .service {
    width: 33.33%;
    float: left;
  }

  /*************************
  CLIENTS
  *************************/
  .client {
    width: 25%;
  }

  /*************************
  WORK
  *************************/
  .work {
    width: 50%;
    float: left;
  }

  /*************************
  CONTACT
  *************************/

}

@media only screen and (min-width : 992px) {
  /*************************
  GENERAL
  *************************/


  /*************************
  WELCOME
  *************************/


  /*************************
  SERVICES
  *************************/


  /*************************
  CLIENTS
  *************************/
  .client {
    width: 20%;
  }

  /*************************
  WORK
  *************************/
  .work {
    width: 33.33%;
  }

  /*************************
  CONTACT
  *************************/

}

@media only screen and (min-width : 1200px) {
  /*************************
  GENERAL
  *************************/


  /*************************
  WELCOME
  *************************/


  /*************************
  SERVICES
  *************************/


  /*************************
  CLIENTS
  *************************/
  .client {
    width: 10%;
  }

  /*************************
  WORK
  *************************/
  .work {
    width: 20%;
  }

  /*************************
  CONTACT
  *************************/

}
