/******************************************************************************
GENERAL
******************************************************************************/
html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  height: 100%;
  font-family: 'Playfair Display', serif;
  color: black;
}

.label-green {
  background-color: rgb(183, 206, 169);
}

/******************************************************************************
BANNER
******************************************************************************/
.banner {
  height: 100%;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(218, 224, 234);
  background-image: url("../images/banner-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.banner h1 {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: .25em;
}

.banner h2 {
  font-style: italic;
  font-size: 1.5em;
}

/******************************************************************************
PROCESS
******************************************************************************/
.services-container {
  padding: 30px;
  background-color: #e8eada;
}

.services {
  border: 2px solid black;
}

.service {

}

.service h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/******************************************************************************
WORKS
******************************************************************************/
.works-container {
  padding: 30px 15px 0 15px;
  background-color: #eadcda;
}

.works {

}

.work {
  margin-bottom: 30px;
  padding: 15px;
  background-color: white;
}

.work img {
  width: 100%;
}

.work h1 {
  font-size: 1.5em;
  text-align: center;
}

/******************************************************************************
FOOTER
******************************************************************************/
footer {
  background-color: rgb(218, 224, 234);
  background-image: url("../images/banner-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.square-red {
  margin: 15px 0;
  height: 150px;
  background-color: rgb(206, 174, 169);
}

.copyright {
  display: block;
  text-align: center;
  padding: 15px;
}
