<!doctype html>
<html>
	<head>
		<title>The W3 Technical &amp; Cultural Blogs of Ryan Storberg</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="blog_template_v2.css">
		<link href='http://fonts.googleapis.com/css?family=Wire+One|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
		<script src="jquery-2.1.1.js"></script>
		<script src="blog_template_v2.js"></script>
	</head>
	<body>
		<header>
			<h1>The W3 <span id="tech">Technical</span> & <span id="cult">Cultural</span> Blogs of Ryan Storberg</h1>
		</header>
		<div id="content">

			<article class="cult">
				<h2><time>Week 1 - May 99, 9999</time>Lorem Ipsum</h2>
				<img src="images/seawater.jpg">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</article>

			<article class="tech">
				<h2><time>Week 2 - May 25, 2014</time>Relative, Absolute, and Fixed Positioning</h2>
				<p>There are four different element position types available in CSS, static, relative, absolute, and fixed. Each elements default position type is static, which positions the element in the regular flow of CSS, stacked in order if it's a block element, lined up in order if it's an inline element.</p>
				<p><span class="subtitle"><code>position: relative.</code></span> When positioning an element relatively, you're positioning it relative to itself, while also setting the stage for allowing greater control over the <em>absolute</em> positioning declaration. Also note that when an element is set to relative and its position moved, its previously occupied space remains a part of the natural flow of the elements, and the void remains unfilled.</p>
				<p><span class="subtitle"><code>position: absolute.</code></span> An absolutely positioned element is positioned relative to either its nearest relatively positioned parent element, or the HTML document itself, if no relatively positioned parent element can be found. Unlike the relatively positioned element, the absolutely positioned element is taken out of the natural flow of the elements, and its void is filled by the next element in the HTML document.</p>
				<p><span class="subtitle"><code>position: fixed.</code></span> Fixed elements are positioned relative to the display of the device that is viewing the webpage. They don't move from their initial position, even when the page is scrolled. It is also taken out of the natural flow of the elements, just like absolutely positioned elements.</p>

				<p>I would recommend heading over to <a href="www.codepen.io">CodePen</a> to play around with these concepts yourself.</p>
			</article>

			<article id="two" class="cult">
				<h2><time>Week 1 - May 18, 2014</time>Kitchen vs. Table</h2>
				<p>I think my inutition was inline with Shereef's take on the DBC culture. My impression has been that you will get out of it what you put into it, and that there's a strong enphasis on interpersonal relationships as well (I'm an introvert, myself, so I'm looking forward to challenging myself in this area, right alongside learning how to program). I appreciated each of Shereef's metaphors. I'm nervous and excited as I stand ready to take the plunge.</p>

				<p>I look forward to meeting everybody and getting started. Good luck to each of you.</p>
			</article>

			<article class="tech">
				<h2><time>Week 1 - May 18, 2014</time>A Few of My Favorite Websites</h2>
				<p>The first two of my choices have become staples in my and a few billion other people's lives, revolutionizing the internet and ecommerce, respectively. The third choice is an admired attempt at trying to revolutionize education.</p>

				<p><strong>Google.</strong> Whether I love the design of Google’s many websites or not, they’re some of my favorite. Google Drive, with its awesome online editing and collaborating features is on of my most used web apps, along with Gmail. I don’t use Google’s homepage for searching, as I mostly just use the search bar in whatever browser I’m using, and I don't typically use Gmail in the browser, so I’ll focus on Google Drive.</p>

				<p>When looking at Google Drive, the most noticeable feature is the grid that presents my files in an ordered way. This part stands out because there isn’t much else happening, and it looks rough and packed together compared with the white space surrounding it. The second most obvious thing is the red “Create” button in the upper right corner. What tries to make up for its lack of size and texture by being a striking color.</p>

				<p>I’d describe Google Drive’s appearance as basic and practical. It has everything you need and nothing you don’t. The graphics that it uses tend to serve a purpose, so I’d call it purposeful and non-extraneous. And because of its huge customer base, it’s not daring.</p>

				<p>Google Drive keeps the user’s files safe, accessible from any internet connected machine, and allows simultaneous creation and editing of documents with other users. Its content is user generated or curated.</p>

				<p>The purpose of Google Drive is provide a platform for document storage and creation and sharing. Its design is structured to facilitate theses activities. It’s practical and serious. It means business. Its fun and productive.</p>

				<p>Google is the master of search, at the very top of the page is a search bar for finding any of the user’s documents, along with options for a more detailed search. The content can be displayed in the grid according to a certain order as well, such as the date that the documents were modified.</p>

				<p>I feel empowered using Google Drive.</p>

				<p>The only advertisement is for the computer app that allows the syncing of the user’s files to their personal computer.</p>

				<p><strong>Amazon.</strong> Amazon solves the huge problem that is shopping in brick and mortar stores, gas wasted, out-of-stocks, long lines, not knowing the value of what you’re paying for. Amazon saves its users a lot of time and a lot of money. Amazon let’s them keep a little more of their life to spend on other, more worthwhile, things.</p>

				<p>Amazon’s site is another practical website, like Google Drive. Its very nature of being an online department store, I’m sure, is very challenging when making design decisions to keep it from looking like a mess. There’s so much that has to be conveyed to the users, and there’s a lot at stake (time and money).</p>

				<p>Nothing stands out. Every inch of the screen is used to display a product or service advertisement.</p>

				<p>Amazon is cluttered, but basic. It could be fun, but it could also be serious; much has to do with the customer’s searching or browsing history. It’s bazaarish.</p>

				<p>Amazon’s content is basically images, videos, and descriptions of products and services.</p>

				<p>Amazon tries to be focused sometimes. They have some showcase areas on their home screen, and it does work initially to draw my attention. The showcase areas are hierarchically ordered, the most important located at the top, and then moving down along the right side through the lesser important. This is the pattern that my eyes usually follow.</p>

				<p>It’s very simple to search for things on Amazon. The homepage has a search bar at the top, and the results are often relevant. There is also a drop-down menu for browsing departments, and even sub-departments. No matter where you navigate to on the website, those two options for finding things tag along.</p>

				<p>I often feel satisfied after using Amazon, knowing how much time and money I probably saved.</p>

				<p>Amazon sells most consumer goods. They also display advertisements.</p>

				<p><strong>Khan Academy.</strong> Salmon Khan’s goal is to eventually furnish Khan Academy with all domains of human knowledge, as well as create accompanying exercises to test the user’s knowledge and develop their skills, and to do it all at no charge to its users, and without advertisements. They’re off to a great start.</p>

				<p>The Dashboard is filled with useful information about the user’s current progress. The most noticeable thing at first glance is the wide column of skills to practice, generated automatically based on the user’s current progress and the last time they practiced those skills. The second most noticeable thing is the tall column on the right side that contains a mini grid. Each square in the grid represents a skill or concept in mathematics (eventually there will be other subjects), and is color coded based on how well the use knows that knowledge or has that skill set. There’s also a search bar at the very top to live search for any of the thousands of videos on the site.</p>

				<p>Khan Academy is fun. It uses gamification to encourage sustained progress. It’s simple.</p>

				<p>Khan Academy tries to solve the problem of not having access to education or not having access to good education. It’s intended to be used as a standalone or as a supplement to traditional classroom settings.</p>

				<p>It’s content is fun and light-hearted to serious. It’s always purposeful.</p>

				<p>In addition to the search bar that I mentioned (which includes searching video transcripts), there is also a drop down menu to browse according to topic and subtopic.</p>

				<p>I feel empowered and accomplished after spending time on Khan Academy, and hopeful for humankind’s future.</p>

				<p>Khan Academy is free to its users and runs as a non-profit. There are no advertisements.</p>
			</article>

		</div>
		<footer>
			<p><a href="http://ryanstorberg.github.io/">Home</a></p>
		</footer>
	</body>
</html>