 {
	border: 1px black solid;
}

body {
	margin: 0 auto;
	max-width: 800px;
}

header {
	height: 65px;
	position: fixed;
	right: 7.5%;
	left: 7.5%;
	top: 0px;
	margin: 0 5%;
	padding: 0 5%;
	color: #42bbe3;
	background-color: white;
	box-shadow: 0 12px 11px -15px black;
}

header h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 10px;
}

nav {
	margin: 10% 5% 0 5%;
	text-align: center;
}

nav p {
	text-align: center;
	display: inline-block;
	height: 25px;
	width: 25px;
	padding: 5px;
	border-radius: 100%;
	font-size: 18px;
	font-family: 'Lobster';
	color: white;
	background-color: #42bbe3;
}

nav a:hover p {
	background-color: lightblue;
}

#content {
	margin: 0 5%;
}

article {
	margin: 3% 10%;
	font-family: 'Roboto', sans-serif;
}

article img {
	display: block;
	margin: 0 auto;
	width: 80%;
	border-radius: 5%;
}

article h2 {
	margin: 5px 0;
	color: #42bbe3;
}

article p {
	margin: 5px 0;
}