 {
	border: 1px black solid;
}

body {
	margin: 0 auto;
	max-width: 800px;
}

ul li:first-child {
	font-weight: bold;
	color: gray;
}

a:link {
	text-decoration: none;
	color: #FF2222;
}

a:hover {
	color: #FFAAAA;
}

a:visited {
	color: #FFAAAA;
}

#header {
	color: gray;
	margin: 0 5%;
	border-bottom: 3px gray solid;
	text-align: center;
}
#sidebar {
	width: 15%;
	height: 250px;
	border-right: 3px gray solid;
	float: left;
	margin: 0 0 0 5%;
	text-align: right;
}

#nav {
	list-style: none;
	padding-right: 15%;
}

#content {
	width: 74.5%;
	float: right;
	margin: 0 5% 0 0;
}

#content p {
	padding: 0 5% 0 3%;
}

#mars {
	position: relative;
}

#mars img {
	display: block;
	border-radius: 2.5%;
	margin: 1% auto;
	max-width: 50%;
}

#mars p {
	position: absolute;
	display: inline;
	font-size: 2.5em;
	color: white;
	left: 55%;
	bottom: -10%;
}

#footer {
	margin: 0 5%;
	border-top: 3px gray solid;
	padding: 1% 5%;
	text-align: center;
	clear: both;
}

#footer i {
	color: lightblue;
}